

main {
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  align-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

img {
  align-self: center
}

nav button {
  align-self: center;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  transition: .1s;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  border-radius: .2em;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow:    2px 2px 0px 1px rgba(0, 0, 0, 1);
  box-shadow:         2px 2px 0px 1px rgba(0, 0, 0, 1);

}

nav button:focus {
  outline: black;
}

.hover {
  font-size: 1em;
  width: 150px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.logo-text {
  padding: 0 .3em;
}

h1 {
  font-size: 1.8em;
  padding-bottom: .1em;
  font-weight: bold;
}

.logo p {
  font-size: .9em;
}


.view-options button, #submit {
  padding: .25em .5em;
  margin: 0 .2em;
  font-size: .9em;
  border-radius: 9%;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow:    2px 2px 0px 1px rgba(0, 0, 0, 1);
  box-shadow:         2px 2px 0px 1px rgba(0, 0, 0, 1);
}

.view-options button:focus {
  outline: none;
  -webkit-box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    -2px -2px 0px 0px rgba(0, 0, 0, 1);
  box-shadow:         -2px -2px 0px 0px rgba(0, 0, 0, 1);
}

.view-options button:hover, #submit:hover {
  color: white;
  background-color: black;
}

#submit:focus {
  outline: black;
}

#shelf {
  margin: 0 auto;
  padding: 2em;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.book {
  margin: 1em;
  width: 200px;
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: .3em;
  box-sizing: border-box;
  border: 3px solid black;
}

.form {
  padding: 0;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.form input[type=text] {
  box-sizing: border-box;
font-family: 'JetBrains Mono', monospace;
  border: 2px solid black;
  height: 2em;
  width: 90%;
  border-radius: .3em;
  margin: .3em;
  padding: 0 .5em;
}

.form input[type=text]:focus{
  outline: black;
}

#inputDiv{
  margin: .3em 0 .5em 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cancel {
  align-self: flex-start;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: .3em;
  margin: .3em 0 0 .3em;
font-family: 'JetBrains Mono', monospace;
  font-size: .8em;
  padding: auto 0;
  font-weight: bold;
}

#cancel:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow:    2px 2px 0px 1px rgba(0, 0, 0, 1);
  box-shadow:         2px 2px 0px 1px rgba(0, 0, 0, 1);
}

#cancel:focus {
  outline: black;
}

.switch {
  align-self: flex-end;
  position: relative;
  display: inline-block;
  width: 77px;
  height: 25px;
  border: 2px solid black;
  border-radius: .3em;
  margin: 0 1.4em 1.8em 0;
}

.switch input {display:none;}

.slider {
  align-self: flex-end;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 18px;
  top: 2px;
  left: 2px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: .2em;
  box-sizing: border-box;
  border: 3px solid black
}


input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  background-color: white;
  border: none;
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on {
  display: none;
}

.on, .off {
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: .8em;
}

.on{
  color: white;
  top: 51%;
  left: 30%;
}

.off {
  color: black;
  top: 51%;
  left: 63%;
}

input:checked + .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

::placeholder {
  color: black
}

h2 {
  text-align: right;
  font-size: 1.2em;
  align-self: flex-end;
  margin: .8em .7em .3em 2em;
  font-weight: bold;
  max-width: 100%;
  word-break: break-word;
  line-height: 1.2em;
}

hr {
  align-self: center;
  width: 90%;
  border: 1px solid black;
}

h3 {
  margin: 0 1em;
  align-self: flex-start;
  flex-grow: 1;
}

.bottomInfo {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: .3em;
  align-items: center;
}

.pagesOnly {
  flex-grow: 1;
  text-align: right;
  padding-bottom: 4.8px;
}


.empty::placeholder{
  color: rgb(172, 11, 11);
  font-weight: bold;
}

.editMode input {
  font-weight: bold;
}

@media screen and (max-width: 600px) { 
 main {
   max-width: 100vw;
   margin: 0 auto;
   padding: 0 .5em;
 }

 nav {
   justify-content: center;
 }

 .logo img {
  display: none;
 }

 nav button {
   font-size: 1em;
   max-height: 30px;
   max-width: 30px;
   margin-left: 1em;
   text-align: center;
 }

.view-options {
  font-size: .7em;
  text-align: center;
}

#shelf {
  margin: 0 auto;
  padding: 2em 0;
  max-width: 90vw;
  justify-content: space-around;
}

.book {
  width: 120px;
  margin: 0;
  margin-bottom: 1em;
}

h2 {
  font-size: .9em;
}

h3 {
  font-size: .8em;
}

.bottomInfo p {
  font-size: .8em;
}

.bottomInfo img {
  width: 20px;
}

.switch {
  justify-self: center;
  margin: 0 auto 2em;
}

}